
<section class="clients section">
    <div class="container">
        <h2 class="section-title">
            Speciality In
        </h2>
        <div class="row">
            <div id="clients-scroller">
                <div class="items">
                    <a href="@Url.Action("WomenpsychologicalProblems", "Facilities")"><h5 class="text-capitalize">Women psychological Problems</h5></a>
                </div>
                <div class="items">
                    <a href="@Url.Action("ChildProblem", "Facilities")"><h5 class="text-capitalize">Child and Adolescents problems</h5></a>
</div>
                <div class="items">
                    <a href="@Url.Action("Academic", "Facilities")"><h5 class="text-capitalize">Academic</h5></a>
</div>
                <div class="items">
                    <a href="@Url.Action("MemoryProblems", "Facilities")"><h5 class="text-capitalize">Memory problems</h5></a>
</div>
                <div class="items">
                    <a href="@Url.Action("Addictions", "Facilities")"><h5 class="text-capitalize">Addictions</h5></a>
</div>
                <div class="items">
                    <a href="@Url.Action("SexualProblems", "Facilities")"><h5 class="text-capitalize">Sexual problems</h5></a>
</div>
                <div class="items">
                    <a href="@Url.Action("Psychosomaticdisorders", "Facilities")"><h5 class="text-capitalize">Psycho-somatic disorders</h5></a>
</div>
            </div>
        </div>
    </div>
</section>