@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta http-equiv="content-type" content="text/html; charset=utf-8">*@
    <meta name="author" content="Horizon">
    <meta name="description" itemprop="description" content="Horizon Mind Care and Psychological Clinic offers a wide range of confidential mental health services provided by qualified and experienced Psychiatrists and Psychotherapists in Kolhapur Maharashtra">
    <meta name="keywords" itemprop="keywords" content="addiction treatment in kolhapur,anxiety disorder treatment in kolhapur,best psychiatrist in kolhapur,best psychiatry   clinic in kolhapur,deaddiction rehabilitation in kolhapur,expert psychiatry doctors in kolhapur,mental health centre in kolhapur,mental stress treatment in kolhapur,neuropsychiatric help in kolhapur,psychiatric rehabilitation in kolhapur,psychiatry specialist in Maharashtra,psychological assessment services in kolhapur,psychological services in kolhapur,psychological treatments in kolhapur,psychotherapy and counselling services in kolhapur,stress management in kolhapur,teenage alcohol addiction help in kolhapur,top psychiatrist in kolhapur,top psychiatrist in Maharashtra,treatment for depression in kolhapur,treatment for mental health in kolhapur,child psychiatrist in kolhapur,psychologist in kolhapur,clinical psychologist in  kolhapur,best psychiatrist in Maharashtra,psychiatric services in kolhapur,psychiatric evaluation in kolhapur,mental health treatment in kolhapur,counseling for children in kolhapur,psychiatrist clinics in kolhapur,child psychologist in kolhapur,md psychiatrist in kolhapur,best psychiatrist in kolhapur,mental health help in kolhapur,local psychiatrist in kolhapur,Women,Psychological,problems,Child,Adolescents,Problems,Stress, in Relationship,Academic,Memory,Addictions,Sexual,Psycho-somatic,disorders,kolhapur,sadalga,chikkodi,nippani,belgaum,ichalkaranji,hospital,mind care,psychiatric" />

    <meta name="google-site-verification" content="pLF_zlW7baaZDJT0i2OEq7eOR7Xtjs0hiU2z3XrfIwk" />
    <title>Horizon Mind Care Clinic</title>
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/fonts/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/main.css" type="text/css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
  	(adsbygoogle = window.adsbygoogle || []).push({
	 google_ad_client: "ca-pub-6682541425709577",
    	 enable_page_level_ads: true
	});
    </script>
    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-27759841-1', 'auto');
         ga('send', 'pageview');
    </script>
    @Styles.Render("~/Content/allcss")
</head>

<body>
    @Html.Partial("_Menu")
    @RenderBody()
    @Html.Partial("_footer")

    <script type="text/javascript" src="~/Scripts/jquery-min.js"></script>
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 2000
            })
        });

    </script>
    @Scripts.Render("~/Content/alljs")
    <script src="~/Scripts/Extra/Personal.js"></script>
    <script type="text/javascript" src="~/Scripts/Extra/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Extra/main.js"></script>
</body>
</html>


